@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'sans-serif';
  height: 100%;
  flex-direction: column;
}

#root {
  height: 100%
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1504450758481-7338eba7524a?auto=format&fit=crop&w=2849&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size: cover;
  background-position: center;
}

.cta {
  min-height: 55%;
  display: flex;
  margin: auto;
  flex-direction: column
}

.cta li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    transition: .2s ease-out;
    cursor: pointer;
}

.cta li > a {
    color: red;
    letter-spacing: .5px;
}


.cta-btn:hover {
  background-color: pink;
}

.cta-btn {
  border-radius: 5px;
  margin-top: 10px;
  background-color: blue;
  color: red;
  width: 100%;
}

.button-conditional-container {
  display: flex;
  justify-content: flex-end;
}


.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    width: 20%;
    float: right;
    margin: 6px 3px;
}

.shot-clock {
  display: flex;
  justify-content: center
}

.shot-clock > span{
  font-size: 4em;
  color: #ffa500;
}

.tweet-card i.right {
	margin-top: -10px;
}

.btn.toast {
	background-color: white;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn {
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.nav-full-header {
  background-color: #112F4B;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Quattrocento Sans';
}

nav .brand-logo {
  padding-left: 10px
}


/*twitter button*/
/*.social-links a {
  color: #b0bec5;
  font-size: 1.0em;
  position:relative;
  z-index:2;
  top: 120px;
  list-style-type:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
}*/

/*demo============*/
/*.btn.social-links{
  background-color: transparent;
  color: #b0bec5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 10px;
}

.btn.social-links:hover {
  background-color: #cfd8dc;
  color: white;
}*/

/*on the login page*/

.footer-component {
  flex: 1 0 0;
  background-color: #112F4B;
  padding-top: 12px;
  color: white;
}

.favorites-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.favorites-content {
  padding-top: 5%;
  flex: 1;
}

nav ul a:hover{
  background-color: #cfd8dc;
  border-radius: 2px;
  color: white;
}

